body{
background-color: cyan;
}
h1{
    color:floralwhite;
    background-color: lightblue;
}
#show_sketch{
    float: right;
}
canvas{
    border:5px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top:80px;
    animation-iteration-count: infinite;
}
@keyframes example{
    from{box-shadow: 1px 1px 38px rgb(red, green, blue);}
    to{box-shadow: 1px 1px 38px rgb(red, green, blue);}

}
p{
    padding-top: 10px;
    font-size: 25px;
}